<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Blogger", root_url, class: "navbar-brand" %>
    </div>
  </div>
</nav>
